################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
bin/
obj/
*Debug/
*Release/
*.user
Apps/
DLL/
Exe/
Bigfoot/Help/
Lib/
Bigfoot/LsCnfg
Bigfoot/QueryTool
ServicingDirector/config
.vs/
WinDebug/
WinRel/
ReleaseMinSize/
Installed_DB
Release*
SDBuild

*.suo
*.db
*.tlog
*.pdb
*.exp
*.lib
*.log
*.obj
*.tlb
*.ipch
*.aps
*.dbmdl
*.exe
*.txt
*.ini
*.dbg
*.inx
*.isr
*.map
*.obs
*.sln
*.isproj
/Bigfoot/SRC/UpgradeLog.htm
*.eic
/Bigfoot/SRC/packages/SSH.NET.2016.1.0/.signature.p7s
/Bigfoot/SRC/packages/SSH.NET.2016.1.0/SSH.NET.2016.1.0.nupkg
/Bigfoot/SRC/SystemAdmin/param.dat
/Bigfoot/SRC/LSCnfgCom/LSCnfgCom.h
/Bigfoot/SRC/LSCnfgCom/LSCnfgCom_p.c
/Bigfoot/SRC/LSCnfgCom/LSCnfgCom_i.c
/Bigfoot/SRC/LSCnfgCom/dlldata.c

/Bigfoot/SRC/Events/LockBox/RCa36580
